[defaults]
inventory = inventory/hosts.yml
collections_paths = ~/.ansible/collections
host_key_checking = false
retry_files_enabled = false
vars_plugins_enabled = host_group_vars,community.sops.sops

[community.sops]
age_keyfile = ../age.key

[ssh_connection]
pipelining = true
